<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/analytics.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Oswald"
    />
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart); function drawChart() { var
      data = google.visualization.arrayToDataTable([ ['Task', 'Hours per Day'],
      ['Paid', 421], ['Unpaid', 232] ]); var options = { title: '2019 Batch' };
      var chart = new
      google.visualization.PieChart(document.getElementById('piechart1'));
      chart.draw(data, options); }
    </script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart); function drawChart() { var
      data = google.visualization.arrayToDataTable([ ['Task', 'Hours per Day'],
      ['Paid', 321], ['Unpaid', 100] ]); var options = { title: '2020 Batch' };
      var chart = new
      google.visualization.PieChart(document.getElementById('piechart2'));
      chart.draw(data, options); }
    </script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart); function drawChart() { var
      data = google.visualization.arrayToDataTable([ ['Task', 'Hours per Day'],
      ['Paid', 431], ['Unpaid', 230] ]); var options = { title: '2021 Batch' };
      var chart = new
      google.visualization.PieChart(document.getElementById('piechart3'));
      chart.draw(data, options); }
    </script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart); function drawChart() { var
      data = google.visualization.arrayToDataTable([ ['Task', 'Hours per Day'],
      ['Paid', 240], ['Unpaid', 123] ]); var options = { title: '2022 Batch' };
      var chart = new
      google.visualization.PieChart(document.getElementById('piechart4'));
      chart.draw(data, options); }
    </script>

    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart); function drawChart() { var
      data = google.visualization.arrayToDataTable([ ['Task', 'Hours per Day'],
      ['Unpaid(in lakhs)', 40], ['Paid(in lakhs)', 82] ]); var options = {
      title: 'Tution Fee' }; var chart = new
      google.visualization.PieChart(document.getElementById('piechart5'));
      chart.draw(data, options); }
    </script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart); function drawChart() { var
      data = google.visualization.arrayToDataTable([ ['Task', 'Hours per Day'],
      ['Unpaid(in thousands)', 539], ['Paid(in thousands)', 932] ]); var options
      = { title: 'Hostel Rent' }; var chart = new
      google.visualization.PieChart(document.getElementById('piechart6'));
      chart.draw(data, options); }
    </script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart); function drawChart() { var
      data = google.visualization.arrayToDataTable([ ['Task', 'Hours per Day'],
      ['Unpaid(in thousands)', 218], ['Paid(in thousands)', 262] ]); var options
      = { title: 'Mess Fee' }; var chart = new
      google.visualization.PieChart(document.getElementById('piechart7'));
      chart.draw(data, options); }
    </script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart); function drawChart() { var
      data = google.visualization.arrayToDataTable([ ['Task', 'Hours per Day'],
      ['Unpaid', 348], ['Paid', 1062] ]); var options = { title: 'Library Dues'
      }; var chart = new
      google.visualization.PieChart(document.getElementById('piechart8'));
      chart.draw(data, options); }
    </script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load('current', { 'packages': ['corechart'] });
      google.charts.setOnLoadCallback(drawChart); function drawChart() { var
      data = google.visualization.arrayToDataTable([ ['Task', 'Hours per Day'],
      ['Unpaid(in crores)', 48], ['Paid(in crores)', 1032] ]); var options = {
      title: 'Overall' }; var chart = new
      google.visualization.PieChart(document.getElementById('piechart9'));
      chart.draw(data, options); }
    </script>

  </head>

  <body>
    <div class="wrapper">
      <header>
        <img src="https://www.iiitg.ac.in/header.svg" alt="img not found" />
        <!-- <h2>INDIAN INSTITUTE OF INFORMATION TECHNOLOGY</h2> -->
        <nav class="nav">
          <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
        </nav>
      </header>

      <div class="grid-container">
        <!-- 
            <div class="grid-item">1</div>
            <div class="grid-item">2</div>
            <div class="grid-item">3</div> -->
        <div id="myleftSidenav" class="leftsidenav" class="grid-item">
          <a href="/adminhome" class="icon-a"><i
              class="fa fa-dashboard icons"
            ></i>
            &nbsp;&nbsp;Search</a>

          <a href="/verify" class="icon-b"><i
              class="fa fa-users icons"
            ></i>
            &nbsp;&nbsp;Verify Reciept</a>
          <a href="/addRemove" class="icon-c"><i
              class="fa fa-list icons"
            ></i>
            &nbsp;&nbsp;Add/Remove</a>
          <a href="/updateEntry" class="icon-d"><i
              class="fa fa-shopping-bag icons"
            ></i>
            &nbsp;&nbsp;Update</a>
          <a href="/analytics" class="icon-e"><i
              class="fa fa-tasks icons"
            ></i>
            &nbsp;&nbsp;Analytics</a>

        </div>

        <div class="grid-item" id="middle-text" class="flex-container">
          <div class="middle1">
            <div class="fee-payment">
              <p>Fee payment batchwise</p>
            </div>
            <div class="payment-content">
              <div id="piechart1" class="batch1"></div>
              <div id="piechart2" class="batch2"></div>
              <div id="piechart3" class="batch3"></div>
              <div id="piechart4" class="batch4"></div>
            </div>
          </div>
          <div class="middle2">
            <div class="items">
              <p>Items</p>
            </div>
            <div class="items-content">
              <div id="piechart5" class="batch1"></div>
              <div id="piechart6" class="batch2"></div>
              <div id="piechart7" class="batch7"></div>
              <div id="piechart8" class="batch8"></div>
            </div>

          </div>
          <div class="middle3">
            <div class="overall">
              <p>Overall Total</p>
            </div>
            <div class="overall-content">
              <div id="piechart9" class="batch9"></div>
            </div>
          </div>
        </div>
      </div>

      <footer class="grid-container1">
        <p id="foot-left" class="grid-item1">@IIIT Guwahati 2023 </p>
        <p id="foot-right" class="grid-item1">
          IIIT Guwahati,Bongora, Guwahati -781015</p>
      </footer>
    </div>
  </body>

</html>