<!DOCTYPE html>
<html>

<head>
  <title>Insert data into MongoDB from HBS file</title>
</head>

<body>
  <h1>Insert data into MongoDB</h1>
  <form method="POST">
    <label>Name:</label>
    <input type="text" name="name" />
    <br />
    <label>rollno:</label>
    <input type="number" name="rollno" />
    <br />
    <label>Email:</label>
    <input type="email" name="email" />
    <br />
    <!-- <input type="submit" value="Submit" /> -->

    <label>branch:</label>
    <input type="text" name="branch" />
    <br />
    <label>phone:</label>
    <input type="number" name="phone" />
    <br />
    <label>batch:</label>
    <input type="text" name="email" />
    <br />
    <input type="submit" value="Submit" />
  </form>
</body>

</html>